body{ 

    margin: 0%;
    padding: 0%;
    font-family: montserrat;
    background-image: url(TK.webp);
    background-size: 250px;

}

.container{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 400px;
    background-color: rgb(221, 221, 221) ;
    box-shadow: 10px 10px 10px 10px rgba(0, 0, 0, 0.5);
    border-radius: 10px;

}

.frase{
    text-align: center;
    padding: 10px 0 0 0;
}

.container h1{
    text-align: center;
    padding: 0 0 20px 0;
    border-bottom: 1px solid silver;
}

.container form {

    padding: 0 40px;
    box-sizing: border-box;

}

form .Usuario{
    position: relative;
    border-bottom: 2px solid silver;
    margin: 30px 0;
}

.Usuario input{
    width: 100%;
    padding: 0 5px;
    height: 40px;
    font-size: 16px;
    border: none;
    background: none;
    outline: none;
}
.Usuario label{
    position: absolute;
    top : 50%;
    left: 5px;
    color: silver;
    transform: translateY(-50%);
    font-size: 16px;
    pointer-events: none;
    transition: .5s;
}


.Usuario span::before{
    content: '';
    position: absolute;
    top: 40px;
    left: 0;
    width: 100%;
    height: 2px;
    background: #326bd4;
    transition: .5s;
}

.Usuario input:focus ~ label,
.Usuario input:valid ~ label{
    top: -5px;
    color: #326bd4;
    transition: top 0.5s ease, color 0.5s ease;
}
.Usuario input:focus ~ span::before,
.Usuario input:focus ~ span::before{
    width: 100%;

}

.volver{
    margin: 30px 0;
    text-align: center;
    font-size: 16px;
    color: black;
}
.volver a{
    color: blue;
    text-decoration: none;
}
.volver a:hover{
    text-decoration: underline;
}

input[type="submit"]{
    width: 100%;
    height: 50px;
    border: 1px solid;
    background: #326bd4;
    border-radius: 25px;
    font-size: 18px;
    color: white;
    cursor: pointer;
    outline: none;
}
input[type="submit"]:hover{
    border-color: 326bd4;
    transition: .5s;
}

